@import "bootstrap";

html {
  overflow: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-bottom: 20px
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #0088cc;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.table-centered {
margin: 0 auto !important;
float: none !important;
width: 680px;
}

.header-status {
width: 5%;
}

.header-company {
  width: 25%;
  color: #0088cc;
  font-size: 1.1em;
}

.header-date {
width: 20%;
color: #0088cc;
font-size: 1.1em;
}

.header-time {
width: 20%;
min-width: 100px;
color: #0088cc;
font-size: 1.1em;
}

.header-location {
width: 30%;
min-width: 50px;
color: #0088cc;
font-size: 1.1em;
}

.share {
  float: left;
  width: 120px;
}

.job-info {
  float: right;
  width: 840px;
}


#main{
  width: 900px;
  height: 500px;
  padding: 20px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 2.1428571435;
  background-color: #eee;
  border-radius: 6px;
}

#description {
  font-size: 1.6em;
  line-height: 1.2em;
  padding-left: 20px;
  padding-right: 20px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}